# Python tutorial

In [3]:
print("Hello World!")

Hello World!

## 사칙연산

In [21]:
# 덧셈
print("덧셈:", 50+4)

# 뺄셈
print("뺄셈:", 7-3)

# 곱셈
print("곱셈:", 3*4)

# 나눗셈
print("나눗셈:", 5000 / 3)

# 몫
print("몫:", 5000 // 3)

# 나머지
print("나머지:", 50 % 8)

# 제곱
print("제곱:", 3 ** 2)

덧셈: 54
뺄셈: 4
곱셈: 12
나눗셈: 1666.6666666666667
몫: 1666
나머지: 2
제곱: 9

## 상수와 변수
프로그래밍의 기본은 **상수**와 **변수**입니다. 아래의 코드를 실행해봅시다.

In [14]:
var = 10
print(var)

10

10 이라는 숫자 혹은 문자와 같은 값 자체를 상수(constant)라고 합니다. 반면 이러한 상수가 저장된 공간임 var은 변수(variable)이라고 합니다. `var = 10`은 var이라는 변수에 10을 할당하라는 의미입니다. `print()`는 결과물을 출력하는 함수로써, var의 내용을 출력합니다.

In [15]:
var = 'Hello World'
print(var)

Hello World

var라는 변수에 새롭게 'Hello World'라는 상수(문자)를 입력하였더니 그 값이 바뀌었습니다.

In [16]:
var1 = 1
var2 = 2

print(var1 + var2)

3

var1이라는 변수에는 1이라는 숫자, var2이라는 변수에는 2라는 숫자를 입력하였습니다. `var1 + var2`는 1+2와 같으므로 3이라는 결과가 출력됩니다.

In [17]:
var1 = 3
print(var1 + var2)

5

var1이라는 변수에는 3이라는 숫자를 입력하면, `var1 + var2`는 3+2가 되므로 5라는 결과가 출력됩니다. 이처럼 변수에는 계속해서 다른 상수를 입력할 수 있습니다.

## 데이터 타입(자료형)

파이썬에는 다양한 자료형이 존재하며, 이에 대해 하나씩 살펴보도록 하겠습니다.

### 숫자형
숫자형(Number)은 정수나 실수와 같이 숫자 형태로 이루어진 자료형입니다. 8진수와 16진수도 있으나 많이 사용하지는 않습니다.

먼저 정수형(Integer)이란 -2, -1, 3433, 23 처럼 소수점을 사용하지 않고 숫자를 표현한 것입니다.

In [18]:
type(1)

int

`type()` 함수는 데이터 타입을 확인해주는 역할을 합니다. 1이라는 숫자의 타입을 확인해보면 int(정수)임을 알 수 있습니다.

한편 실수를 표현하는 부동소수점 자료형(floating point)는 소수점을 포함한 숫자입니다.

In [19]:
type(1.0)

float

1.0이라는 숫자의 타입을 확인해보면 float, 즉 실수임을 알 수 있습니다. 일반적으로 1과 1.0은 동일한 숫자라고 생각할 수 있지만, 프로그래밍에서 정수형과 실수형은 엄밀하게는 다른 타입입니다.

### 문자열
문자열(String)이란 문자, 단어 등으로 구성된 문자들의 집합을 의미합니다. 파이썬에서 문자열을 만드는 방법은 총 4가지가 있습니다.

In [22]:
"Hello World"

'Hello World'

먼저 큰 따옴표(")로 양쪽을 둘러싸서 문자열을 만들 수 있습니다.

In [23]:
'Hello World'

'Hello World'

작은 따옴표(')로 양쪽을 둘러싸서도 문자열을 만들 수 있습니다.

In [25]:
multiline = """Life is too short
You need python"""
print(multiline)

Life is too short
You need python

In [26]:
multiline = '''Life is too short
You need python'''
print(multiline)

Life is too short
You need python

큰 따옴표 3개를 연속(""")으로 양쪽을 둘러싸거나, 작은 따옴표 3개를 연속(''')으로 써서 양쪽을 둘러싸서도 문자열을 만들 수 있습니다. 따옴표를 3개 사용할 경우 줄 바꿈을 통해 여러줄의 문자열을 만들 수 있습니다.

파이썬에서는 문자열을 더하거나 곱할 수 있습니다.

In [27]:
a = 'Hello'
b = ' World'

a + b

'Hello World'

a라는 변수에 'Hello'라는 글자를, b라는 변수에 ' World'라는 글자를 입력한 후 두 변수를 더하면 두 글자가 합쳐집니다.

In [29]:
c = 'Python '

c * 3

'Python Python Python '

이번에는 c라는 변수에 'Python '을 입력한 후 3을 곱하면, c가 세 번 반복됩니다.

**f-string** 포메팅

문자열에서 특정 부분만이 바뀌고 나머지 부분은 일정할 경우, 파이썬에서는 f-string 포메팅을 이용하여 쉽게 나타낼 수 있습니다.(파이썬 3.6 버전 이상)

In [1]:
name = "홍길동"
birth = "2001"

f'나의 이름은 {name}이며, {birth}년에 태어났습니다'

'나의 이름은 홍길동이며, 2001년에 태어났습니다'

f-string의 형태는 `f'문자열 {변수} 문자열` 입니다. 즉 문자열 맨 앞에 f를 붙이면 f-string 포메팅이 선언되며, 중괄호 안에 변수를 넣으면 해당 부분에 변수의 값이 입력됩니다.

**문자열 길이**

문자열의 길이를 구할 때는 `len()` 함수를 사용합니다.

In [2]:
a = 'Life is too short'
len(a)

17

'Life is too short'이라는 문장은 빈 칸을 포함하여 총 17 글자로 이루어져 있습니다.

**문자열 치환하기**

특정한 문자를 다른 문자로 바꾸고 싶을 때는 `replace()` 매서드를 사용한다.

In [5]:
var = 'Qiskit Fall Fest at Korea University 2023'
var.replace(' ', '_')

'Qiskit_Fall_Fest_at_Korea_University_2023'

먼저 var 변수에 'Qiskit Fall Fest at Korea University 2023' 라는 문자열을 입력하였습니다. 그 후 `문자열.replace(a, b)` 매서드를 사용하면 문자열에서 a라는 문자를 b라는 문자로 바꿀 수 있습니다.

**문자열 나누기**

`split()` 매서드를 사용하면 문자열을 나눌 수 있습니다.

In [7]:
var = 'Qiskit Fall Fest at Korea University 2023'
var.split(' ')

['Qiskit', 'Fall', 'Fest', 'at', 'Korea', 'University', '2023']

`split()` 매서드 내부에 값을 입력하면, 해당 값을 기준으로 문자열을 나누 줍니다. 위 예제에서는 공백(' ')을 기준으로 문자열을 나누었습니다.

**문자열 인덱싱과 슬라이싱**

인덱싱(Indexing)이란 문자열 중 특정 위치의 값을 가져오는 것이며, 슬라이싱(Slicing)이란 특정 위치가 아닌 범위에 해당하는 문자열을 가지고 오는 것입니다.

In [9]:
var = 'Korea University'

print(var[2])
print(var[0])

r
K

인덱싱과 슬라이싱은 대괄호([ ])를 사용해서 표현합니다. 파이썬은 숫자를 0부터 셉니다. `var[2]`는 두번째 문자를 의마하며, 이에 해당하는 'r'이 출력되었습니다.

In [10]:
var[-2]

't'

인덱싱에 - 기호를 붙이면 문자열을 뒤에서부터 세기 시작합니다. 즉 `var[2]`는 뒤에서 두번째 문자를 의미하며 이에 해당하는 't'가 출력되었습니다.

In [12]:
print(var[0:5])
print(var[:4])
print(var[:])
print(var[3:])
print(var[::2])
print(var[::-1])

Korea
Kore
Korea University
ea University
KraUiest
ytisrevinU aeroK

슬라이싱은 대괄호내부에 콜론 기호를 사용하여 `시작:마지막:간격` 에 해당하는 문자를 출력합니다. 시작 부분의 기본값은 0 이고, 마지막 부분의 기본값은 그 문자열의 길이 입니다. 간격 부분의 기본값은 1 입니다.

### 리스트
파이썬에서는 연속된 데이터를 표현하기 위하여 리스트(List) 자료형을 사용합니다.

In [13]:
a = []
type(a)

list

리스트는 대괄호([ ])를 이용하여 생성할 수 있으며, 아무 값도 입력하지 않을 경우 빈 리스트가 생성됩니다.

In [14]:
list_num = [1, 2, 3]
print(list_num)

[1, 2, 3]

In [15]:
list_char = ['a', 'b', 'c']
print(list_char)

['a', 'b', 'c']

In [16]:
list_complex = [1, 'a', 3.14]
print(list_complex)

[1, 'a', 3.14]

리스트 내부에 각 요소는 쉼표(,)를 이용하여 구분해줍니다. 요소값은 다양한 자료형을 함께 가질 수도 있습니다.

In [17]:
list_nest = [1, 2, ['a', 'b']]
print(list_nest)

[1, 2, ['a', 'b']]

리스트 자체를 하나의 요소로 가질 수도 있습니다.

**리스트 인덱싱과 슬라이싱**

리스트도 문자열과 동일한 방법으로 인덱싱과 슬라이싱을 할 수 있습니다.

In [18]:
var = [1, 2, ['a', 'b', 'c']]

var[0]

1

In [19]:
var[2]

['a', 'b', 'c']

In [20]:
var[2][1]

'b'

In [21]:
var[0:2]

[1, 2]

**리스트 연산하기**

리스트도 `+`, `*` 연산을 사용할 수 있습니다.

In [1]:
a = [1, 2, 3]
b = [4, 5, 6]

a+b

[1, 2, 3, 4, 5, 6]

`+` 기호를 사용하면 두 리스트를 하나로 합칩니다.

In [2]:
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

`*` 기호를 사용하면 리스트를 해당 횟수만큼 반복합니다..

**리스트에 요소 추가하기**

다양한 방법을 통해 기존의 리스트에 새로운 데이터를 추가하거나 삽입할 수 있다.

In [3]:
var = [1, 2, 3]
var.append(4)
print(var)

[1, 2, 3, 4]

`append()` 매서드는 기존의 리스트 맨 마지막에 데이터를 추가합니다.

In [4]:
var = [1, 2, 3]
var.append([4, 5])
print(var)

[1, 2, 3, [4, 5]]

만약 `append()` 매서드 내에 리스트 형태를 입력할 경우 중첩된 형태로 데이터가 추가됩니다. 리스트에 새로운 리스트를 중첩된 형태가 아니라 리스트 형태로 확장하고 싶을 경우에는 `extend()` 매서드를 사용하면 됩니다.

In [5]:
var = [1, 2, 3]
var.extend([4, 5])
print(var)

[1, 2, 3, 4, 5]

**리스트의 수정과 삭제**

인덱싱과 슬라이싱을 이용하면 리스트의 요소를 수정 혹은 삭제할 수 있습니다.

In [6]:
var = [1,2,3,4,5]
var[2] = 10
print(var)

[1, 2, 10, 4, 5]

먼저 var라는 변수에 1부터 5까지 숫자로 구성된 리스트를 만들었습니다. 그 후 var의 두번재 요소에 10을 입력하면 해당 값으로 요소가 변경됩니다.

In [7]:
var[3] = ['a', 'b', 'c']
print(var)

[1, 2, 10, ['a', 'b', 'c'], 5]

이번에는 세번째 요소를 ['a', 'b', 'c']라는 요소로 변경하였습니다.

In [8]:
var[0 : 2] = ['가', '나']
print(var)

['가', '나', 10, ['a', 'b', 'c'], 5]

슬라이싱을 이용해 데이터를 수정할 수도 있습니다. `var[0 : 2]`는 0 부터 1 까지의 데이터를 의미하며, 해당 데이터를 ['가', '나']로 변경하였습니다.

이번에는 리스트에서 요소를 삭제하는 방법에 대해 살펴보겠으며, 먼저 `del` 명령어를 사용하는 방법을 보겠습니다.

In [10]:
var = [1, 2, 3]
del var[0]
print(var)

[2, 3]

`del` 객체를 이용하여 데이터를 삭제할 수 있습니다. 위의 예제에서 `del var[0]`는 var에서 첫번째 요소를 삭제하라는 의미입니다. 인덱싱 뿐만 아니라 `del var[0:2]`와 같이 슬라이싱을 통해서도 데이터를 삭제할 수 있습니다.

In [11]:
var = [1, 2, 3]
var[0:1] = []
print(var)

[2, 3]

슬라이싱을 통해 범위를 지정한 후 빈 리스트([])를 입력하여 해당 부분의 데이터를 삭제할 수도 있습니다.

In [12]:
var = [1, 2, 3, 1, 2, 3]
var.remove(1)
print(var)

[2, 3, 1, 2, 3]

`remove(x)` 메서드는 리스트에서 첫 번째로 나오는 x를 삭제하는 함수입니다. 위 예제에서는 가장 먼저 나오는 1이 삭제된 것을 확인할 수 있습니다.

In [13]:
var = [1, 2, 3]
var.pop()

3

In [14]:
print(var)

[1, 2]

`pop()` 메서드는 리스트의 맨 마지막 요소를 반환하고 해당 요소는 삭제합니다. 위 예에서 가장 마지막 요소인 3이 출력되고, var를 확인해보면 최종적으로 [1, 2]만 남아있습니다.

**리스트 정렬하기**

리스트 내의 데이터들은 `sort()` 매서드를 통해 정렬할 수 있습니다.

In [16]:
var = [2, 4, 1, 3]
var.sort()
print(var)

[1, 2, 3, 4]

1부터 4까지의 순서가 무작위로 존재했지만, sort()를 입력하면 오름차순으로 정렬됩니다.

### 튜플
튜플(Tuple) 자료형은 리스트와 매우 흡사하며 약간의 차이점이 있습니다. 먼저 리스트는 대괄호([ ])를 이용하여 생성하지만 튜플은 소괄호(())를 이용하여 생성합니다. 또한 튜플은 값을 수정하거나 삭제할 수 없습니다.

In [17]:
var = ()
type(var)

tuple

리스트와 마찬가지로 소괄호를 입력하면 빈 튜플이 생성됩니다.

In [18]:
var = (1, )
print(var)

(1,)

만일 값이 하나만 있을 경우에는 요소 뒤에 쉼표(,)를 반드시 붙여야 합니다.

In [19]:
var = (1, 2, ('a', 'b'))
print(var)

(1, 2, ('a', 'b'))

튜플 역시 요소를 중첩하여 사용할 수 있습니다.

In [20]:
var = (1, 2)
del var[0]

TypeError: 'tuple' object doesn't support item deletion

만약 `del` 을 이용하여 요소값을 삭제하려고 할 경우 위와 같이 오류가 발생합니다. 이처럼 튜플은 수정 혹은 삭제가 불가능합니다.

In [21]:
var = (1, 2, 3, 4, 5)
var[0]

1

인덱싱이나 슬라이싱의 경우 리스트와 동일하게 사용이 가능합니다.

### 딕셔너리
딕셔너리(Dictionary)는 대응 관계를 나타내는 자료형으로써, 리스트나 튜플처럼 순서가 존재하지 않으며 대신 Key와 Value가 존재합니다. 딕셔너리는 다음과 같은 형태를 가지고 있습니다.

In [ ]:
{Key1:Value1, Key2:Value2, Key3:Value3, ...}

딕셔너리는 중괄호({ })로 감싸서 표현합니다. 키(Key)-값(Value)의 형태로 데이터가 이루어져 있으며, 각각은 쉼표(,)로 구분합니다. 예시를 살펴보도록 다음과 같습니다.

In [23]:
var = {'key1' : 1, 'key2' : 2}
print(var)

{'key1': 1, 'key2': 2}

키 값이 key1인 곳에는 1이라는 값이, 키 값이 key2인 곳에는 2라는 값이 딕셔너리 형태로 입력되었습니다.

In [24]:
var = {'key1': [1, 2, 3], 'key2': ('a', 'b', 'c')}
print(var)

{'key1': [1, 2, 3], 'key2': ('a', 'b', 'c')}

딕셔너리의 값에는 리스트나 튜플 형태도 입력이 가능합니다.

**Key를 이용하여 Value 구하기**

문자열이나 리스트, 튜플의 경우 인덱싱이나 슬라이싱을 통해 요소값을 구할 수 있었지만, 딕셔너리는 순서가 존재하지 않으므로 이러한 방법을 사용할 수 없습니다. 딕셔너리는 Key를 사용해 이에 해당되는 Value를 얻을 수 있습니다.

In [25]:
var = {'key1': 1, 'key2': 2, 'key3': 3}
var['key1']

1

먼저 var라는 변수에 딕셔너리를 입력한 후, `var['key1']`을 입력하면 딕셔너리 중 Key값이 key1에 해당하는 데이터의 Value를 반환합니다. 즉 딕셔너리 변수에서 [ ] 안의 값은 순서를 뜻하는 것이 아니라 Key 값을 의미합니다.

**쌍 추가하기 및 삭제하기**

기존 딕셔너리에 쌍을 추가하는 방법과 삭제하는 방법에 대해 살펴봅시다.

In [26]:
var = {'key1': 1, 'key2': 2}
var['key3'] = 3
print(var)

{'key1': 1, 'key2': 2, 'key3': 3}

먼저 key1과 key2로 이루어진 딕셔너리를 만들었습니다. 그 후 `var['key3'] = 3`을 입력하면 Key는 key3, Value는 3인 딕셔너리 쌍이 추가됩니다.

In [27]:
del var['key1']
print(var)

{'key2': 2, 'key3': 3}

리스트와 마찬가지로 딕셔너리에서도 `del` 을 사용하면 해당 Key를 가진 딕셔너리 쌍이 삭제됩니다.

**Key와 Value 구하기**

이번에는 딕셔너리의 Key와 Value를 한번에 구하는 법에 대해 살펴보겠습니다.

In [28]:
var = {'key1': 1, 'key2': 2, 'key3': 3}
var.keys()

dict_keys(['key1', 'key2', 'key3'])

var.keys()를 입력하면 var라는 딕셔너리에서 Key만을 모아 dict_keys 객체로 반환합니다. 만일 이를 리스트 형태로 만들고자할 때는 다음과 같이 하면 됩니다.

In [29]:
list(var.keys())

['key1', 'key2', 'key3']

결과를 `list()`로 감싸주면 Key값이 리스트 형태로 출력됩니다.

In [31]:
var.values()

dict_values([1, 2, 3])

var.values()는 var라는 딕셔너리에서 Value만을 모아 dict_values 객체로 반환합니다.

### 집합
집합(Set)은 집합에 관련한 자료형이며, `set()` 키워드를 사용하여 만들 수 있습니다. 집합 자료형의 특징으로는 중복을 허용하지 않는다는 점과, 순서가 없다는 점입니다.

In [32]:
set1 = set([1, 2, 3])
print(set1)

{1, 2, 3}

`set()` 내에 리스트를 입력하면 집합이 만들어집니다.

In [33]:
set2 = set('banana')
print(set2)

{'b', 'n', 'a'}

반면 set() 내에 banana라는 단어를 입력했더니 'a', 'b', 'n'만 입력이 되었습니다. 이는 집합이 중복을 허용하지 않기 때문에 고유한 값만이 남았으며, 순서도 입력한 것과 다릅니다.

**합집합 교집합 차집합**

In [34]:
s1 = set([1, 2, 3, 4])
s2 = set([3, 4, 5, 6])

In [37]:
# 합집합
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [38]:
# 교집합
s1.intersection(s2)

{3, 4}

In [39]:
# 차집합
s1.difference(s2)

{1, 2}

### 불리언
불리언(Boolean) 자료형이란 참(True) 혹은 거짓(False)을 나타내는 자료형으로, 이 두가지 값만을 가질 수 있습니다.

In [40]:
var = True
type(var)

bool

var 변수에 True를 입력한 후 타입을 확인해보면 bool, 즉 불리언 자료형임을 알 수 있습니다.

In [41]:
1 == 1

True

## 비교 연산자 & 논리 연산자

비교 연산자 | 문법 | 설명
:---------: | :--: | :--:
==| a==b | 같음
!=| a!=b | 같지 않음
$>$ | a>b | 초과
< | a<b | 미만
$>=$ | a>=b | 이상
<= | a<=b | 이하
is | a is b | 객체가 같음
is not | a is not b | 객체가 같지 않음

In [42]:
10 == 10

True

In [43]:
11 != 11

False

In [44]:
10 == 10.0

True

In [45]:
10 is 10.0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\ssgg\AppData\Local\Temp\ipykernel_16500\484204819.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  10 is 10.0

False

논리 연산자 | 문법 | 설명
:---------: | :--: | :--:
and| a and b | AND(논리곱), 양쪽 모두 참일 때 참
or| a or b | OR(논리합), 양쪽 중 한쪽만 참이라도 참
not | not x | NOT(논리부정), 참과 거짓을 뒤집음

In [47]:
10==10 and "Qiskit Fall Fest" == "at Korea University 2023"

False

In [50]:
10==10 and "Qiskit Fall Fest" != "at Korea University 2023"

True

In [51]:
10==10 or "Qiskit Fall Fest" == "at Korea University 2023"

True

## 제어문

### if 문

if문, 혹은 조건문이란 입력된 조건을 판단하여 해당 조건에 맞는 상황을 실행하는 것입니다. 가장 기본적인 구조는 다음과 같습니다.

In [ ]:
if 조건:
    실행

1. `if`를 통해 if문을 선언하고, 바로 뒤에 조건을 입력한 후 콜론(:)을 붙입니다.
2. 줄바꿈을 해준 후 만일 조건이 True일 경우 실행할 코드를 입력합니다. 이 때 조건문 바로 아래부터는 if문에 속하는 문장이므로 들여쓰기를 해주어야 하며, 공백을 4번 입력하거나 탭을 누릅니다. 만일 들여쓰기가 제대로 되지 않을 경우 오류가 발생합니다.

예시를 보겠습니다.

In [53]:
x = 2

if x > 0:
    print("값이 0보다 큽니다.")

값이 0보다 큽니다.

In [55]:
x = -1

if x > 0:
    print("값이 0보다 큽니다.")

조건문이 False일 때 실행할 명령은 `else` 밑에 적어주면 됩니다.

In [57]:
x = -1

if x >= 0:
    print("값이 0보다 크거나 같습니다.")
else:
    print("값이 음수입니다.")

값이 음수입니다.

만약 조건이 여러개인 다중 조건을 판단하려면 `if`와 `else`사이에 `elif`를 추가하면 됩니다.

In [ ]:
if 조건 1:
    실행 1
elif 조건 2:
    실행 2
elif 조건 3:
    실행 3
...
else:
    실행 n

`if`의 [조건 1]이 False일 경우 바로 아래의 `elif`를 통해 [조건 2]를 판단한다. 만일 [조건 2]가 True일 경우에는 [실행 2]에 해당하는 코드가 실행되지만, False일 경우에는 다시 [조건 3]을 판단한다. 만일 모든 `elif`의 조건이 False일 경우 최종적으로 [실행 n]에 해당하는 코드가 실행되며, `elif`는 개수에 제한 없이 사용할 수 있다.

In [59]:
x = 3

if x >= 10:
    print('값이 10보다 큽니다.')
elif x >= 0:
    print('값이 0 이상 10 미만입니다.')
else:
    print('값이 음수입니다.')

값이 0 이상 10 미만입니다.

조건문이 `if`와 `else`로만 구성될 경우 다음과 같이 간단하게 작성할 수도 있습니다.

In [ ]:
[조건문이 True인 경우] if 조건문 else [조건문이 False 경우]

예제는 다음과 같습니다.

In [60]:
x = 7

'0 이상' if x >= 0 else '음수'

'0 이상'

### while문

while문, 혹은 반복문은 특정 조건을 만족하는 동안 반복해서 코드를 실행합니다. while문의 기본적인 구조는 다음과 같습니다.

In [ ]:
while 조건:
    실행

[조건]에 해당하는 부분이 True인 동안에는 [실행]에 해당하는 코드가 반복해서 수행됩니다. while문도 if문과 마찬가지로 [실행]에 해당하는 부분은 들여쓰기를 해주어야 한다. 예제를 살펴봅시다.

In [61]:
num = 1

while num < 5:
    print(num)
    num = num + 1

1
2
3
4

In [62]:
num = 1

while num < 10 :
    if num % 2 == 0 :
        print(f'{num}은 짝수입니다.')    
    num = num + 1

2은 짝수입니다.
4은 짝수입니다.
6은 짝수입니다.
8은 짝수입니다.

만약 코드가 계속해서 실행되다가 특정 조건을 만족할 경우 멈추게 하고 싶을 경우 if문에 `break`를 사용할 수 있다.

In [63]:
money = 1000

while True:        
    money = money - 100
    print(f'잔액은 {money}원 입니다.')
    
    if money <= 0 : 
        break

잔액은 900원 입니다.
잔액은 800원 입니다.
잔액은 700원 입니다.
잔액은 600원 입니다.
잔액은 500원 입니다.
잔액은 400원 입니다.
잔액은 300원 입니다.
잔액은 200원 입니다.
잔액은 100원 입니다.
잔액은 0원 입니다.

### for문

for문은 while문과 동일한 반복문이지만, 조건에 따라 반복되는 것이 아닌 특정 횟수만큼 반복되는 특징이 있습니다. for 문의 기본적인 구조는 다음과 같습니다.

In [ ]:
for 변수 in 리스트(또는 튜플, 문자열):
    실행

리스트 또는 튜플, 문자열의 첫 번째 요소부터 마지막 요소까지 차례로 변수에 대입된 후 [실행]에 해당하는 코드가 실행되며, 역시나 들여쓰기를 해야합니다. 예제를 살펴봅시다.

In [64]:
var = [1, 2, 3]

for i in var:
    print(i)

1
2
3

In [65]:
var = [10, 15, 17, 20]

for i in var:
    if i % 2 == 0:
        print(f'{i}는 짝수입니다.')
    else:
        print(f'{i}는 홀수입니다.')

10는 짝수입니다.
15는 홀수입니다.
17는 홀수입니다.
20는 짝수입니다.

for문은 `range()` 함수와 함께 사용되는 경우가 많습니다. `range()`함수는 숫자(정수) 리스트를 자동으로 만들어줍니다.

In [66]:
range(10)

range(0, 10)

`range()` 함수 내에 10을 입력할 경우 0부터 10 미만의 숫자에 해당하는 range 객체를 만들어 줍니다.

In [67]:
range(5, 10)

range(5, 10)

시작과 끝 숫자를 지정할 수도 있습니다. `range(5, 10)`을 입력하면 5부터 10 미만의 숫자에 해당하는 range 객체를 만들어 줍니다. `range()` 함수의 예시를 살펴봅시다.

In [68]:
for i in range(5):
    print(i)

0
1
2
3
4

In [69]:
for i in range(5, 10):
    print(i)

5
6
7
8
9

## 함수

수학시간에 함수라는 개념을 배웁니다. $y = f(x)$라는 수식이 있을 때 $x$라는 값을 함수 $f$에 입력하면 $y$라는 결과값이 나오는 것입니다.

프로그래밍에서의 함수도 이와 비슷합니다. 어떠한 입력값을 함수에 넣으면 이를 토대로 코드가 실행되고, 그 결과를 반환합니다. 함수를 사용하는 이유는 중복된 코드를 계속해서 작성하지 않기 위해서입니다. 만약 반복적으로 사용하는 코드가 있다면 이를 매번 적기 보다는 함수로 만들어두고, 필요할 때마다 함수를 사용하는 것이 효과적입니다.

이미 `print()` 와 같은 함수들을 사용해보았습니다. 이처럼 누군가 작성한 패키지 혹은 함수를 찾아 이용할 수 도 있지만, 나만의 함수를 만들어 사용할 수도 있어야 합니다. 파이썬에서 함수를 만드는 방법은 다음과 같습니다.

In [ ]:
def f(x):
    statement
    return y

1. def 키워드를 통해 함수임을 선언합니다.
2. f는 함수명을 뜻합니다.
3. x는 함수에 들어가는 매개변수(Parameter)를 뜻합니다.
4. 줄을 바꾼 후 들여쓰기를 합니다.
5. statement에 해당하는 코드가 실행됩니다.
6. return 뒤에 적은 y가 반환되며, 함수가 종료됩니다.

예시로 제곱근을 계산하는 함수를 만들어보겠습니다.

In [70]:
def sqrt(x):
    result = x ** (1/2)
    return result

In [71]:
sqrt(4)

2.0

In [72]:
sqrt(9)

3.0

이번에는 매개변수가 여러개인 함수를 만들어봅시다.

In [75]:
def power(x, y):
    result = x ** y
    return result

In [77]:
power(5, 2)

25

In [78]:
power(y=2, x=3)

9

매개변수에 디폴트 값을 설정할 수 있습니다. 디폴트 값이 설정된 부분에 값을 입력하지 않을 경우 해당 디폴트 값이 자동으로 입력됩니다. 아래에서 그 예시를 확인할 수 있습니다.

In [79]:
def divide(x, n=2):
    result = x / n
    return (result)

In [80]:
divide(3) # 3 / 2

1.5

In [81]:
divide(6, 3) # 6 / 3

2.0

**람다 함수**

람다(lambda)를 이용하면 간단하게 함수를 만들 수 있습니다. 람다의 사용법은 다음과 같습니다.

In [ ]:
함수명 = lambda 매개변수1, 매개변수2, ...: statement

나눗셈을 하는 함수를 람드를 통해 만들어보겠습니다.

In [83]:
divide_lam = lambda x, n: x / n

divide_lam(6, 3)

2.0

## 패키지 사용하기

In [84]:
import math

In [85]:
math.pi

3.141592653589793

In [86]:
from math import pi
pi

3.141592653589793

In [87]:
import math as mt
mt.pi

3.141592653589793

In [88]:
import numpy as np
np.pi

3.141592653589793

## 클래스와 매서드